<%- include('../layout', { 
    pageTitle: 'Register', 
    css: `
        <style>
            .rounded-15 {
                border-radius: 15px !important;
            }
            .rounded-10 {
                border-radius: 10px !important;
            }
        </style>
    `,
    content: `
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Register form -->
            <form id="register" class="login-form" action="#">
                <div class="card mb-0 rounded-15">
                    <div class="card-body">
                        <div class="form-group">
                            <input id="name" type="text" class="form-control rounded-10" placeholder="Name" required>
                        </div>

                        <div class="form-group">
                            <input id="email" type="text" class="form-control rounded-10" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control rounded-10" placeholder="Password" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn bg-primary-700 btn-block rounded-10">Create Your Account<i class="icon-circle-right2 ml-2"></i></button>
                        </div>
                        <div class="text-center">
                            <span class="d-block text-muted">Already have an account?</span>
                            <a href="/login" class="text-primary-700">Login</a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /Register form -->

        </div>
    `,
    js: `
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const auth = localStorage.getItem('token');
                if (auth) {
                    window.location.href = '/';
                }

                const form = document.querySelector('#register');

                form.addEventListener('submit', async function(event) {
                    event.preventDefault();

                    const name = form.querySelector('#name').value;
                    const emailInput = form.querySelector('#email');
                    const email = emailInput.value;
                    const passwordInput = form.querySelector('input[type="password"]');
                    const password = passwordInput.value;
                    
                    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (!emailPattern.test(email)) {
                        alert('Please enter a valid email address.');
                        emailInput.focus;
                        return;
                    }

                    if (password.length < 6) {
                        alert('Password must be at least 6 characters long.');
                        passwordInput.focus;
                        return;
                    }

                    const requestBody = {
                        name: name,
                        email: email,
                        password: password
                    };

                    try {
                        const response = await fetch('/api/register', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(requestBody)
                        });

                        const responseData = await response.json();

                        if (response.ok) {
                            form.reset();
                            window.location.href = '/login';
                            alert(responseData.message);
                        } else {
                            alert(responseData.error.message);
                        }
                    } catch (error) {
                        console.error('Register error:', error.message);
                        alert('An unexpected error occurred. Please try again later.');
                    }
                });
            });
        </script>
    `
}) %>